/* about */
.intro-grid {
 display: flex;
 gap: 50px;
 margin: 100px 50px 50px 50px;
 background: white;
 height: auto;
}

.intro-text {
 text-align: justify;
}

.intro-text h1 {
 text-transform: uppercase;
 text-align: center;
 color: #1257DC;
}
.intro-text p {
 line-height: 25px;
 font-size: 3vmin:
}

/* Our values */
.values {
 display: flex;
 flex-direction: column;
 margin: 50px auto;
}
.values h1{
 text-align: center;
 color: #1257DC;
}
.grid-values{
 display: flex;
 align-items: center;
 justify-content: space-evenly;
}
.grid-values .indi-values{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin: 40px;
 justify-content: center;
}
.grid-values .indi-values h2{
 font-size: 5vmin;
 color: #383f47;
}
.grid-values .indi-values p{
 font-size: 3vmin;
 text-align: center;
 color: #383f47;
}
.grid-values img{
 width: 200px;
}