/* cover */
.intro-cover {
  width: 100%;
  height: 60vh;
  background: rgba(0, 0, 0, 0.5) url(/images/fm.gif);
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: bottom;
  background-size: cover;
  margin-top: 60px;
  margin-bottom: 50px;
}
.intro-cover h1 {
  font-size: 8vmin;
  text-align: center;
  color: #FFFFFF;
  background: rgb(18, 87, 220,0.5);
  padding: 20px;
}
.intro-text {
  margin: 0 15px auto;
  margin-bottom: 100px;
}
.intro-text p {
  text-align: justify;
}

/* feature */
.main-container {
  background-color: #ecf1f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header {
  text-align: center;
}
.header #title {
  font-size: 8vmin;
  color: #1257DC;
}
.header p {
  font-size: 20px;
}

/* services */
.gallery {
  display: flex;
  flex-direction: left;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* feature */
.contenter {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: auto;
  box-sizing: border-box;
  float: left;
  text-align: center;
  cursor: pointer;
  padding: 30px;
  margin: 15px;
  transition: .4s;
  background: white;
}
.gallery .contenter h4 {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  padding-top: 10px;
  color: #666666;
}

.main-container h1 {
  font-size: 30px;
  margin-top: 20px;
}

.main-container .descri {
  font-size: 18px;
}

.contenter:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);
}

.gallery img {
  margin-top: 500px;
  margin-bottom: 500px;
  width: 40px;
  height: 40px;
  text-align: center;
  margin: 0 auto;
  display: block;
}

.contenter .tell-it {
  text-align: center;
  padding: 0 15px;
  line-height: 25px;
  margin-top: 15px;
  color: #666666;
}

.wrap1 p {
  font-size: 20px;
}

/* img and text */
img {
  width: 400px;
}

.text {
  text-align: justify;
}
