/* footer */
.footer{
 background-color: #383f47;
  width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
  width: 100%;
   height: auto;
   display: flex;
   flex-direction: column;
}
.contact {
 display: flex;
 float: left;
 max-width: 100%;
 width: auto;
 justify-content: space-around;
 padding: 10px;
 margin: 0 px;
}

.footer h4 {
 color: white;
}
.footer p{
 color: white;
 font-size: 14px;
 margin: 5px;
 margin: 5px;
 }
.footer a {
 text-decoration: none;
 color: #8f8f8f;
}

.sm {
 font-size: 25px;
 margin: 0 5px auto;
}
.sm i{
 color: white;
}

.contact-details{
 display: flex;
 flex-direction: column;
 text-align: left;
}
.follow-us{
   display: flex;
   flex-direction: column;
   align-items: first center;
}
footer p{
   margin: 15px 0;
}