.intro-cover {
  width: 100%;
  height: 88vh;
  background: rgba(0, 0, 0, 0.5) url(/images/safety1.jpg);
  background-blend-mode: darken;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: bottom;
  background-size: cover;
  margin-top: 60px;
  margin-bottom: 50px;
}

.intro-cover h1 {
  font-size: 8vmin;
  text-align: center;
  color: #FFFFFF;
  background: rgb(18, 87, 220, 0.5);
  padding: 20px;
}
.intro-text{
  margin: 0 50px auto;
  margin-bottom: 100px;
}
.intro-text p{
  text-align: justify;
}

/* header */
.header {
  text-align: center;
}

.header #title {
  font-size: 8vmin;
  color: #1257DC;
}

.header p {
  font-size: 20px;
}

/* Featured */
.wrapped {
  height: auto;
  display: flex;
  background-color: #ddd9d9;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  border-radius: 50px;
}
.service{
  display: flex;
  gap: 20px;
  padding: 20px 50px 20px 50px;
}
.service .text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pic {
  width: 400px;
}
.service .text h1{
  font-size: 4vmin;
  color: #1257DC
}
.service .text p{
  font-size: 4vmin;
  text-align: center;
}