/* global */
*{
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
}

html{
scroll-behavior: smooth;
}

/* body */
body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
  width: 100%;
  height: 88vh;
  background: rgba(0,0,0,0.5) url(/images/slider.gif);
  background-blend-mode: darken;
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
  margin-top: 60px;
}
.header-content{
  color: white;
  text-align: center;
}
.textWrapper{
  font-size: 5vmin;
}
.header-content h2 {
  font-size: 8vmin;
  color: #ffffff;
}
.line {
  width: 150px;
  height: 4px;
  background: #ff6000;
  margin: 10px auto;
  border-radius: 5px;
}
.header-content .content{
  margin: 10px;
  line-height: 28px;
  font-size: 18px;
}
.header-content .link {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background: #1257DC;
  color: #fff;
  padding: 15px 40px;
  letter-spacing: 1px;
  user-select: none;
  box-shadow: 2px 4px 5px black;
  margin-top: 20px;
  margin-bottom: 40px;
}
.header-content h4{
  color: #ffffff;
}

.header-content .sm{
  font-size: 24px;
  color: #ffffff;
  margin: 10px 20px;
}
/* end of intro slider */

/* services */
#services{
  color: #1257DC;
  font-size: 8vmin;
}
.serv{
  font-size: 5vmin;
  text-align: center;
  color: #383f47;
}
.section2{
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  width: 100%;
  padding: 40px 0;
  background-color: #1257DC;
  align-items: center;
  justify-content: center;
}

.cardit{
  border-radius: 25px;
  background-color: #ffffff;
  width: 380px;
  float: left;
  margin: 20px;
}

.cardit:hover{
  box-shadow: 0 0 30px 0 rgb(0, 0, 0);
  transition: all 0.3s ease;
}

.cardit-image-content,
.text-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
}

.cardit-image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
}

.text-content a{
  color: #fff;
  text-decoration: none;
}

.image-place{
  position: relative;
  height: 300px;
  width: 300px;
  border-radius: 0%;
  background: #ffffff;
  padding: 3px;
}

.image-place .cardit-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0%;
}

.title{
  font-size: 18px;
  font-weight: 500;
  color: #383f47
}

.describeit{
  font-size: 14px;
  color: #383f47;
  text-align: center;
}

.viewmore{
  border: none;
  font-size: 16px;
  color: #fff;
  padding: 8px 16px;
  background-color: #4070f4;
  border-radius: 6px;
  margin: 14px;
  cursor: pointer;
}

.viewmore:hover{
  background: #3560d6;
}

/* Counter */
.counter{
  background-color: #ffffff;
}
.counter .sects{
  margin: 50px;
}
.counter .sects h1{
  color: #ff6000;
  font-size: 50px;
}
.counter .sects p{
  color: #383f47;
}

/* hire us */
.hire p{
  font-size: 4vmin;
  text-align: center;
  color: #383f47;
}

/* form */
#overlay{
  display: flex;
  align-items: center;
  justify-content: center;
}
form{
  width: 90%;
  max-width: 600px;
  
}

/* client */
.client{
  color: #1257DC;
  font-size: 8vmin;
}

.menu-btn {
  position: absolute;
  top: 5px;
  right: 30px;
  width: 40px;
  cursor: pointer;
  display: none;
  background-color: #383f47;
}

/* Mobile device */
@media only screen and (max-width:950px) {
  .menu-btn {
    display: block;
    background-color: #ff6000;
  }
  body{
    overflow-y: hidden;
  }
  .navbar {
    padding: 0;
  }
  .logo {
    position: absolute;
    top: 2px;
  }
  .nav-links {
    flex-direction: column;
    width: 100%;
    height: 60vh;
    justify-content: center;
    background: rgb(221, 221, 221);
    margin-top: -900px;
    transition: all 0.5s ease;
  }
  .nav-links a {
    color: #383f47;
  }
  .mobile-menu {
    margin-top: 0px;
  }
  .nav-links li {
    margin: 0px auto;
  }
  
  /* body,html */
  body,
  html {
    overflow-x: hidden;
  }
  header{
    margin-top: 50px;
  }
  .section2 .containit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  /* counter */
  .counter {
    display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
  }
  /* Facility */
  .gallery {
    display: flex;
    flex-direction: column;
  }
  
  /* QHSES */
  .service {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .service .pic {
    width: 250px;
  }
  
  /* our team */
  .contain-profile{
    display: flex;
    display: grid;
    flex-direction: column;
  }
    .contain-profile .profile img{
      width: 250px;
    }
  
  /* about */
  .intro-grid{
    display: flex;
    flex-direction: column;
  }
  .intro-grid .intro-image img{
    display: none;
  }
  .values{
    display: flex;
    flex-direction: column;
  }
  .grid-values{
    display: flex;
    flex-direction: column;
  }


  /* footer */
  .footer .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
    
  .footer .contact-details {
    text-align: center;
    margin-bottom: 15px;
  }
    
  .footer .quick-link {
    margin-bottom: 15px;
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    padding: 5px 50px;
    text-align: center;
  }
    
  .footer .follow-us {
    text-align: center;
  }
}
