* {
 margin: 0;
 padding: 0;
}

.shadow {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
}

.shadow img{
  width: 200px;
  margin-top: 5px;
  margin-left: 0px;
}

ul {
text-align: center;
display: inline-flex;
justify-content: space-around;
}

ul li {
list-style: none;
 line-height: 50px;
}

ul li a {
 display: block;
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  color: #383f47;
  padding: 0 30px;
}
 
ul li a:hover {
 color: #ffffff;
 background: #1257DC;
 border-radius: 4px;
}
nav {
 margin: auto;
 text-align: center;
 background-color: white;
 width: 100%;
 margin-top: 0px;
 position: static;
}

/* 
nav div {
 position: absolute; top: 15px; left: 20px;
}  */

/* nav shadow *
.shadow {
 position: fixed;
 box-shadow: 0 0.5px 6px rgba(0,0,0,0.5), 0 0 0 rgba(0,0,0,0.5) inset;
} */

.fa {
 margin-right: 8px;
}

.sub-menu-1 {
 display: none;
}

ul li:hover .sub-menu-1 {
 display: block;
 position: absolute;
 background: rgb(221, 221, 221);
 margin-top: 0px;
 margin-left: 0px;
 border-radius: 4px;
}

ul li:hover .sub-menu-1 ul {
 display: block;
 margin: 0px;
}

ul li:hover .sub-menu-1 ul li {
 line-height: 50px;
 width: 280px;
 padding: 0px;
 border-bottom: 1px dotted white;
 background: transparent;
 border-radius: 0;
 text-align: left;
}

ul li:hover .sub-menu-1 ul li:last-child {
 border-bottom: none;
}