.header-title{
 height: 200px;
 width: 100%;
 background-color: #1257d1;
 text-align: center;
}
.header-title h1{
 color: white;
 margin-top: 60px;
 font-size: 50px;
}
.header-title p{
 color: white;
}

/* Details */
.headerWrapper {
 display: flex;
 flex-wrap: wrap;
 width: 100%;
 justify-content: center;
 align-items: center;
 margin: 50px 0;
}

.header-content {
 width: 40%;
 margin: 15px;
 box-sizing: border-box;
 float: left;
 text-align: justify;
 border-radius: 20px;
 padding-top: 10px;
 transition: .4s;
}

.headerWrapper img {
 width: 500px;
 height: 50%;
 text-align: center;
 margin: 0 auto;
 display: block;
}

.header-content .text{
 margin-top: -200px;
 line-height: 25px;
}

.header-content .sm{
  color: #383f47;
  font-size: 20px;
  margin: 20px;
  margin-left: 0px;
}

/* line */
hr {
 height: 2px;
 width: 450px;
 background-color: #1257d1;
}



/* details 2 */
.details {
 display: grid;
 display: flex;
 grid-template-columns: repeat(2, 1fr);
 margin-left: 80px;
 margin-right: 180px;
}
.details img{
 margin-top: 20px;
}
.details p{
 text-align: justify;
 margin-top: 80px;
 margin-left: 80px;
 line-height: 25px;
}

.social{
 margin-bottom: 50px;
}
.social img{
 width: 25px;
}

table {
 width: 400px;
 margin-left: 215px;
 margin-top: -50px;
 text-align: center;
 padding: 15px;
}
