.header-title{
  margin-top: 100px;
  height: 200px;
  width: 100%;
  background-color: #1257d1;
  text-align: center;
}
.header-title h1{
 color: white;
 margin-top: 60px;
 font-size: 8vmin;
}
.header-title p{
 color: white;
font-size: 4vmin;
}

/* Details */
.headerWrapper {
 display: flex;
 flex-wrap: wrap;
 width: 100%;
 justify-content: center;
 align-items: center;
 float: left;
 margin: 20px 0;
}

.header-content {
 width: 40%;
 margin: 15px;
 box-sizing: border-box;
 float: left;
 text-align: justify;
 border-radius: 20px;
 padding-top: 10px;
 transition: .4s;
}

.headerWrapper img {
 max-width: 500px;
 width: 100%;
 height: auto;
 text-align: center;
 margin: 0 auto;
 display: block;
}

.header-content .text{
 margin-top: auto;
 line-height: 25px;
font-size: 3vmin;
min-width: 300px;
}

.header-content .sm{
  color: #ffffff;
  font-size: 20px;
  margin: 20px;
  margin-left: 0px;
}

.socialButtons{
  background-color: #1257d1;
  padding: 20px;
  text-align: center;
}

/* line */
hr {
 height: 2px;
 width: 450px;
 background-color: #1257d1;
}