.header-title{
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  height: 150px auto;
  width: 100%;
  background-color: #1257d1;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.header-title h1{
 color: white;
 font-size: 8vmin;
}
.header-title p{
 color: white;
font-size: 4vmin;
}

/* content */
.image-description-wrapper{
  display: flex;
  margin: 50px 15px 50px 15px;
  gap: 10px;
}
.header-image img {
  width: 400px;
}
.header-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-text p{
  color: #383f47;
  text-align: justify;
}
.socialButtons{
  display: flex;
  background-color: #1257d1;
  width: 500px;
  height: 80px;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
.socialButtons a{
  text-decoration: none;
  font-size: 18px;
  color: #ffffff;
}
.socialButtons .media i{
  margin: 0 10px;
}
hr{
  width: 250px;
  color: #383f47;
}