section{
 position: relative;
 height: 70vh;
 width: 1075px;
 display: flex;
 align-items: center;
 background: #ebebeb;
}

.swiper{
 width: 950px;
}

section .card .image{
 height: 200px;
 width: 200px;
 border-radius: 50%;
 padding: 3px;
 background: #1257DC;
 margin-left: 0px;
 margin-top: 10px;
}

section .card .image img{
 height: 100%;
 width: 100%;
 object-fit: cover;
 border-radius: 50%;
}

.card{
 position: relative;
 background: #fff;
 border-radius: 20px;
 margin: 20px 0;
 width: 300px;
}

.card::before {
 content: "";
 position: absolute;
 height: 40%;
 width: 100%;
 background: #1257DC;
 border-radius: 20px 20px 0 0;
}

.card .card-content{
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 30px;
 position: relative;
 z-index: 100;
}

.card .media-icons{
 position: absolute;
 top: 10px;
 right: 20px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.card .media-icons i{
 color: #fff;
 margin-top: 10px;
 opacity: 0.6;
 transition: all 0.3s ease;
 cursor: pointer;
}

.card .media-icons i:hover{
 opacity: 1;
}

.card .name-profession{
 display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 10px;
 color: white;
 background-color: #1257DC;
 width: 290px;
 height: 50px;
}

.name-profession .name{
 font-size: 25px;
 font-weight: 600;
}

.swiper-pagination{
 position: absolute;
}

.swiper-pagination-bullet{
 height: 7px;
 width: 26px;
 border-radius: 25px;
 background: #1257DC;
}

.swiper-button-next, .swiper-button-prev{
 opacity: 0.7;
 color: #1257DC;
 transition: all 0.3s ease;
 font-weight: 600;
}

.swiper-button-next, .swiper-button-prev {
 opacity: 1;
 color: #1257DC;
}